%header
  .topbar
    .topbar-inner
      .container
        %h3= link_to "DJ9"
          #search
            / %input{:type => 'search', :id => "request_song", :placeholder => 'Enter a Song title, Artist or Album name', :style => 'width: 400px', :tabindex => 1}
