%header
  .topbar
    .topbar-inner
      .container
        .search
          %h3= link_to "DJ9"

          %input{:type => 'search', :id => "request_song", :placeholder => 'Enter a Song title, Artist or Album name', :style => 'width: 400px', :tabindex => 1}
